<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Nowy pracownik</title>
</head>
<body>
<div align="center">
  <h1>Dodaj nowego pracownik</h1>
  <br/>
  <form action="#" th:action="@{/save_pracownik}" th:object="${pracownik}" method="post">
    <table border = "1" cellpadding = "10">
      <tr>
        <td>ID pracownika:</td>
        <td><input type="text" th:field="*{id_pracownika}"></td>
      </tr>
      <tr>
        <td>Imię:</td>
        <td><input type="text" th:field="*{imie}"></td>
      </tr>
      <tr>
        <td>Nazwisko:</td>
        <td><input type="text" th:field="*{nazwisko}"></td>
      </tr>
      <tr>
        <td>PESEL:</td>
        <td><input type="text" th:field="*{pesel}"></td>
      </tr>
      <tr>
        <td>Data zatrudnienia:</td>
        <td><input type="text" th:field="*{data_zatrudnienia}"></td>
      </tr>
      <tr>
        <td>Nr konta:</td>
        <td><input type="text" th:field="*{nr_konta}"></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><input type="text" th:field="*{email}"></td>
      </tr>
      <tr>
        <td>Nr telefonu:</td>
        <td><input type="text" th:field="*{nr_telefonu}"></td>
      </tr>
      <tr>
        <td>Płeć:</td>
        <td><input type="text" th:field="*{plec}"></td>
      </tr>
      <tr>
        <td>ID armatora:</td>
        <td><input type="text" th:field="*{nr_armatora}"></td>
      </tr>
      <tr>
        <td>ID adresu:</td>
        <td><input type="text" th:field="*{nr_adresu}"></td>
      </tr>
      <tr>
        <td colspan="2"><button type="submit">Save</button></td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>